---
title: Denis Erofeev (edenisn)
---
<header>
  <h1>DENIS EROFEEV</h1>
  <p class='header'>
    I am a software developer at 
    <a href='https://oneclass.com'>OneClass</a>
  </p>
</header>
<article>
  <p>
    You can find me on 
    <a href='https://twitter.com/edenisn'>Twitter</a>, 
    <a href='https://www.facebook.com/profile.php?id=1637050800'>Facebook</a>, 
    <a href='https://www.instagram.com/edenisn/'>Instagram</a> 
    or 
    <a href='mailto:edenisn@gmail.com'>write me an email</a>
  </p>
  <pre>
    <code data-language='ruby'>
      User.new(
        id: 'edenisn',
        name: 'Denis Erofeev',
        urls: %i[<a href='https://github.com/edenisn' title='github/edenisn'>github</a>]
      )
    </code>
  </pre>
</article>
